@media only screen and (max-width: 820px) {
    /* Header */
    header{
        padding: 24px 40px;
    }
    .navigation a{
        margin-left: 10px;
    }
    /* =========== */
    /* Banner */
    .list-image img{
        zoom: 0.4;
    }
    /* social proof */
    .proof-item h3{
        font-size: 40px;
    }
    .proof-item{
        zoom: 0.6;
    }
    .separator-vertical{
        height: 80px;
    }
    /* Our products */
    .slider-container{
        flex-wrap: wrap;
        gap: 30px;
    }
    .product-cart{
        zoom: 0.8;
        flex: 1;
    }
    .product-img{
        width: 379px;
    }
    
    /* =============== */

    /* About Us */
    .abot-us-des{
        font-size: 14px;
    }
    .abot-us-des p{
        line-height: 24px;
    }
    .content-right{
        display: inline-block;
    }
    .content-right img{
        zoom: 0.6;
    }
    .content-right div:last-child{
        display: flex;
        justify-content: flex-end;
    }
    /* ================ */
    /* Testimonial */
    .author-infor img{
        width: 40px;
        height: 40px;
    }
    .review-text{
        font-size: 14px;

    }
    .author-name{
        /* font-size: 14px; */
    }
    .rating-star img{
        width: 10px;
        height: 10px;
    }
    /* ====================== */
    /* Blog */
    .blog-card{
        zoom: 0.5;
       
    }
   /* ========================= */
   /* Footer */
   footer{
    display: block;
   }
   .footer-left{
    margin-bottom: 30px;
   }
  }

  @media only screen and (max-width: 375px) {
    .logo{
        zoom: 0.6;
        position: relative;
    }
    header{
        padding: 24px 24px;
        width: 100%;
    }
    .navigation{
       display: none;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .menu{
        display: inline-block;
        outline: none;
        border: none;
        background-color: unset;
    }
    .menu i{
       
        font-size: 30px;
        margin-left: 30px;
        cursor: pointer;
    }
    .dropdown-menu{
        
        position: absolute;
        top: 62px;
        left: 0;
        background-color: white;
        z-index: 99;
        width: 200px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .dropdown-menu ul{
        list-style-type: none;
       
    }
    .fadeIn {
        animation: fadeIn 0.5s;
      }
    .dropdown-menu li{
        padding: 20px 20px;
        transition: all .3s ease;
    }
    .dropdown-menu li:hover{
        background-color: var(--brownCoffe);
        
        font-size: 20px;
    }
    .dropdown-menu li:hover a{
        color: white;
    }
    .dropdown-menu a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        opacity: 70%;
        font-weight: 500;
    }
    .dropdown-active{
        display: block;
    }
    
    /* ================== */
    /* Banner */
    .banner{
        padding: 24px;
    }
    .banner-content h1{
        font-size: 40px;
        width: 300px;
        margin: 0 auto;
    }
    .banner-content p{
        width: 300px;
        margin: 0 auto;
    }
    .banner-content button{
        padding: 20px 30px;
        margin-top: 30px;
    }
    .list-image {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .list-image img{
        flex: 1;
    }
    .list-image img:last-child{
        display: none;
    }
    /* =========================== */
    /* Social Proof */

    .social-proof{
        padding: 24px;
        display: block;
    }
    .proof-item{
        margin-bottom: 30px;
    }
    .separator-vertical{
        display: none;
    }
    /* ====================== */
    /* Our Products */
    .our-product{
        padding: 24px;
    }
    .title-section h2{
        font-size: 20px;
    }
    .title-section p{
        font-size: 14px;
    }
    .tabs-container{
        display: none;
    }
    .slider-container{
        display: block;
    }
    .product-cart{
        zoom: 1;
    }
    .product-img{
        width: 100%;
    }
    .product-cart{
        margin-bottom: 20px;
    }
    
    /* ======================= */
    /* About Us */
    .about-us{
        padding: 24px 80px ;
    }
    .about-us-container{
        display: block;
    }
    .content-left{
        width: 100%;
    }
    .read-more{
        zoom: 0.5;
        margin: 0 auto;
    }
    .content-right{
        margin-top: 30px;
        width: 100%;
        display: flex;
        position: relative;
    }
    .content-right img{
        zoom: 0.4;
    }
    /* Testimonial */
    .testtimonial{
        padding: 24px;

    }
    .testimonial-slider{
        display: block;
    }
    .card-review{
        margin: 10px auto;

    }
    /* ================= */
    /* Blog */
    .blog{
        padding: 24px;
    }
    .blog-slider{
        display: block;
    }
    
   
    .blog-card{
        margin: 40px 0;
        zoom: 0.7;
    }
    /* Footer */
    .footer-right{
        display: block;
    }
    .footer-logo img{
        width: 30px;
        height: 30px;
    }
    .footer-left p{
        font-size: 14px;
        line-height: 24px;
    }

    .footer-logo{
        width: fit-content;
        margin: 0 auto;
    }
    .footer-left p{
        text-align: center;
    }
    .footer-logo h2{
        font-size: 30px;
    }
    footer{
        padding: 24px;
    }
    .footer-left{
        margin: 20px auto;
    }
    .group-top{
        display: block;
    }
    .group-top-col{
        text-align: center;
    }
    .group-top-col a{
        
        font-size: 14px;
        cursor: pointer;
    }
    .sosial-group{
        margin: 0 auto;
    }
    .input-group{
        zoom: 0.6;
    }
    .sosial-btn{
        flex: 1;
    }
    .footer-right h3{
        font-size: 25px;
    }
  }

  @media only screen and (max-width: 768px){


    /* Testimonial */

    .card-review:last-child{
        display: none;
    }
}

@media only screen and (max-width: 1440px){
   header{
    width: 100%;
   }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
